/* General things */
@font-face {
	font-family: "comingsoon";
	src: url("content/comingsoon.ttf");
}

@font-face {
	font-family: "logo";
	src: url("content/logo.ttf");
}

* { 
  margin: 0; 
  padding: 0;
}

p {
	padding-left:5%;
	padding-right:5%;
}

body {
	margin:0;
	font-family:comingsoon;
	background-image:url("content/wppr.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}


/* Navigation Bar */
#navbar {
	position:fixed;
	background-color:rgba(53, 53, 53, 1);
	width: 100%;
	top:0;
	height:80px;
	white-space:nowrap;
	z-index:100;
}

#home {
	font-family:logo;
	height: 100%;
	width: auto;
	color:white;
	text-decoration:none;
	text-align:center;
	padding-left:5%;
	padding-right:5%;
	font-size:60px;
}



.nav {
	float:right;
	color:white;
	font-size: 24px;
	text-decoration:none;
	padding-left:5%;
	padding-right:5%;
	text-align:center;
	display: block;
	height: 100%;

}

.nav:hover {
	background-color:rgb(33, 33, 33);
}

.nav p {
    -webkit-transform: translateY(50%);
}

#smn {
	color:white;
	font-size: 24px;
	text-decoration:none;
	padding-left:5%;
	padding-right:5%;
	text-align:center;
	display: block;
	height: 100%;
}
	



/*Home Page*/
#homepg {
	position:relative;
	width:100%;
	height:100vh;
	font-size:0px;
	overflow-x:hidden;
}

#wel {
	z-index:1;
	padding-top:20%;
	text-align:center;
	color:white;
	font-size:calc(3vw + 3vh + 2vmin);
	-webkit-text-stroke: 1px black;
}


/*Find us page*/
#links {
	color:white;
	position:relative;
	width:100%;
	height:100vh;
	background-color:#4286f4;
	text-align:center;
	font-size:0px;
	overflow-x:hidden;
}

#search {
	color:white;
	position:relative;
	width:100%;
	height:100vh;
	background-color:white;
	text-align:center;
	font-size:0px;
	overflow-x:hidden;
}


#sitemap {
	background-color:rgb(53, 53, 53);
	position:relative;
	width:100%;
	height:20vh;
	text-align:center;
	font-size:0px;
	color:white;
	text-decoration:none;
	overflow-x:hidden;
}



/*Class attributes*/
.header {
	font-size:calc(1.5vw + 1.5vh + 1.2vmin);
	font-weight:bold;
	padding-top:100px;
	text-align:center;
}

.content {
	font-size:calc(1vw + 1vh + 0.7vmin);
	font-weight:normal;
	padding-top:5px;
}

.table {
	margin-left:auto;
	margin-right:auto;
	font-size:24px;
	font-weight:normal;
	padding-top:5px;
	width:100vh;
}

.cse .gsc-control-cse, .gsc-control-cse {
	padding-top:100px !important;
}

